<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webhttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <!-- calling the WCF service which is hosted inside windows console application -->
      <endpoint address="http://localhost:1973/NormalizationService" binding="webHttpBinding" contract="WindowsServiceHost.IReplicationService2" name="Windows_Console_Host_HttpBinding" behaviorConfiguration="webhttp">
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>